<h1>Search {{vm.title}}</h1>

<form class="search" ng-submit="vm.symbolSearch()">


  <label>Search by Symbol:</label>
  <input type="text" ng-model="vm.symbol" />

  <button type="submit" class="btn btn-primary" name="search-symbol">Search</button>
</form>

<h4>Search Result</h4>
<p><a ng-href="#!/stock/{{vm.stock._id}}">{{vm.stock.Name}} | {{vm.stock.Symbol}}</a></p>


<h4>Saved Searches</h4>



<ul>
  <li ng-repeat="search in vm.showSearches">{{search.Symbol}} | {{ search.createdOn }}</li>
</ul>
<button type="submit" class="btn btn-primary" ng-click="vm.showSearches()">Show Saved Searches</button>